@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap%22");
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

header {
    background-color: #9FC5F8;
    height: 75px;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}

nav p {
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.nav-right {
    max-width: 1000px;
}

.nav-right a {
    margin-left: 45px;
    font-size: 20px;
    color: white;
}

.nav-subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.temperature-selector{
    display: flex;
}

.temperature-selector p {
    margin-right: 10px;
}

.card-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
}
img {
    border-radius: 50%;
    width: 100px;
}
.card-body {
    min-width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

article {
    padding: 40px 0 40px 0;
    background-color: gainsboro;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card-temperature {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    min-width: 200px;
}

#max {
    color: red;
}
#min {
    color: #5892E4;
}

.cookie-banner {
    display: flex;
    max-width: 1000px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 10px; 
    left: 15%;
    min-width: 70%;
}
.cookie-btn a {
    padding: 5px 10px 5px 10px;
    height: 35px;
    width: 100px;
    background-color: #9FC5F8;
    color: black;
    border: 2px solid black;
    font-size: 16px;
    box-shadow: 5px 5px black;
    align-items: center;
}